@import url('https://fonts.cdnfonts.com/css/circular-std-book');

* {
  font-family: 'Circular Std Book', sans-serif !important;
}

h1,
h2 {
  font-family: 'Circular Std Black', sans-serif !important;
}

button,
.section-button,
.btn {
  font-family: 'Circular Std Bold', sans-serif !important;
}
